@import "../../scss/index.scss";

.home {
  &__container {
    position: relative;
    margin-top: 30px;
    @include flex(flex-start, space-between);
  }
  &__main {
    width: calc(100% - 25%);
    @include maxWidth(1024px) {
      width: 100%;
    }
    &_item {
      margin-bottom: 50px;
    }
  }
  &__sidebar {
    width: calc(100% - 75%);
    height: 100%;
    margin-left: 20px;
    @include maxWidth(1024px) {
      display: none;
    }
  }
}
