@import "../../scss/index.scss";

.header {
  padding: 0 80px;
  position: relative;
  height: 70px;
  @include flex(center, space-between);
  background-color: $headerBg;
  @include maxWidth(1024px) {
    padding: 0 30px;
  }
  &__logo {
    width: 90px;
    height: 50px;
    @include flex();
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__nav {
    height: 100%;
  }
  &__menu {
    height: 100%;
    @include flex(center);
    &_item {
      width: max-content;
      position: relative;
      height: 100%;
      color: $textColor;
      padding: 10px 0;
    }
  }
  &__navlink {
    width: 100%;
    height: 100%;

    @include flex();
    padding: 0 15px;
    font-size: 1.1rem;
    font-weight: 500;
    &.active {
      color: $whiteColor;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: $redColor;
        border-radius: 20px;
        transition: all 0.5 ease-in-out;
      }
    }
  }
}
