@import "../../scss/index.scss";

.section {
  width: max-content;
  position: relative;
  margin-bottom: 40px;
  color: $whiteColor;
  padding: 10px 0 5px 0;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $redColor;
    border-radius: 20px;
  }
}
