@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
body {
  background-color: $blackColor;

  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background-color: $headerBg;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $redColor;
    border-radius: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  outline: none;
  border: 1px solid transparent;
  font-family: "Poppins", sans-serif;
}
button {
  outline: none;
  font-family: "Poppins", sans-serif;
  padding: 5px;
  border: 1px solid transparent;
  cursor: pointer;
}
ul,
li {
  list-style: none;
}
.navlink,
.link {
  text-decoration: none;
  color: inherit;
}
.main {
  position: relative;
  padding: 20px 30px;
}
@each $var in $countCol {
  .grid-col-#{$var} {
    grid-template-columns: repeat($var, 1fr);
  }
}
@each $var in $countCol {
  .grid-col-md-#{$var} {
    @include maxWidth(1024px) {
      grid-template-columns: repeat($var, 1fr);
    }
  }
}
@each $var in $countCol {
  .grid-col-sm-#{$var} {
    @include maxWidth(768px) {
      grid-template-columns: repeat($var, 1fr);
    }
  }
}
